<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container p-5">
    <h4>Pending Reviews</h4><br>  
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Merchant ID</th>
        <th>Amount(in Rs.)</th>
        <th>Submit Review</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let value of data"> 
        <td>{{value.OrderID}}</td>
        <td>{{value.MerchantID}}</td>
        <td>{{value.Amount}}</td>
         <td><a [routerLink]="['/submit-review']" (click)="upreview(value.OrderID,value.MerchantID)">Click Here</a></td>
      </tr>
    </tbody>
</table>
</div>
</body>
